Source: networking-midonet
Maintainer: MidoNet <midonet-dev@lists.midonet.org>
Section: python
Priority: optional
Standards-version: 3.9.5
Homepage: http://github.com/openstack/networking-midonet
Build-Depends: dh-python,
               openstack-pkg-tools,
               debhelper (>=9),
               python-dev,
               python-setuptools

Package: python-networking-midonet
Architecture: all
Depends: ${misc:Depends},
         python:any (>= 2.7.5-5~),
         python:any (<< 2.8),
# Liberty plugin package must work with Kilo Neutron
         python-neutron (>= 1:2015.1),
         python-neutron-lbaas (>= 1:2015.1),
         python-oslo-log (>= 0.4.0),
         python-babel,
         python-midonetclient
Description: MidoNet Neutron Plugin
 This package provides MidoNet networking plugin for OpenStack Neutron
