Source: networking-midonet
Maintainer: MidoNet <midonet-dev@lists.midonet.org>
Section: python
Priority: optional
Standards-version: 3.9.5
Homepage: http://github.com/openstack/networking-midonet
Build-Depends: dh-python,
               openstack-pkg-tools,
               debhelper (>=9),
               python3-dev,
               python3-setuptools,
               python3-pbr,
               python3-neutron-lib,
               python3-neutron,
               python3-mock,
               python3-oslotest,
               python3-os-vif,
               python3-networking-l2gw

Package: python3-networking-midonet
Architecture: all
Depends: ${misc:Depends},
         python3:any (>= 3.6),
         python3-neutron (>= 2:14.0.0),
         python3-oslo.log (>= 3.42.0),
         python3-babel,
         python3-midonetclient,
         python3-neutron-lbaas
Description: MidoNet Neutron Plugin
 This package provides MidoNet networking plugin for OpenStack Neutron
